* {
    font-family: "comic sans ms", Arial; 
    color: lawngreen; 
}

body {
    background-color: linear-gradient(to left pink, lightgreen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

#mainheader {
    text-align: center;
    border-style: double;
    border-width: 69px;
    padding: 5px;
    background-image: url(amogus.gif);
}